.layout {
  display: flex;
  height: 100vh;
  width: 100vw;

  font-family: "League Spartan", sans-serif;
  font-family: "Poppins", sans-serif;
}

.themeSwitch {
  position: absolute;
  left: 8rem;
  top: 20%;
  margin: 0.5rem;
}
