.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  list-style: none;
}

.list li {
  display: flex;
  flex-direction: column;
}

li label {
  height: 25px;
}

.secondOptions {
  margin-left: 1rem;
}
