.formBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 600px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

label {
  font-weight: 500;
  font-size: 1rem;
}

span {
  font-size: 0.85rem;
}

.bottomOptions {
  display: flex;
  margin-bottom: 1rem;
}

.firstOption {
  margin-right: 10%;
  width: 50%;
}
