.description {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 50%;
}

.cardsMenu {
  /* height: 460px; */
  display: flex;
  flex-wrap: no-wrap;
}

.cardsMenu .p-dataview-grid {
  flex-wrap: no-wrap;
}

.cards {
  display: flex;
  overflow: auto;
}
